html
{
	overflow: auto;
}

body
{
	margin: 0px;
}

#header
{
	height: 70px;
	width: 100%;

	background-color: lightblue;
	border-bottom: 1px #A7A7E4 solid;
}

#title
{
	display: inline-block;

	margin-left: 15px;
	
	width: 200px;
}

#search
{
	display: inline-block;

	text-align: right;
	width: calc(100% - 230px);
}

#searchBox
{
	width: calc(100% - 100px);
    height: 30px;
    font-size: large;
}

#sidebar
{
	position: absolute;
	z-index: 1;

	background-color: lightcyan;

	margin-left: -160px;

	width: 160px;
	height: calc(100% - 71px);

	transition: margin 0.5s;

	border-right: 1px #A7A7E4 solid;
}

.sidebarItem
{
	height: 32px;

	padding-left: 20px;

	font-size: 16px;
	font-weight: bold;

	display: flex;
    align-items: center;

	transition: background-color 0.3s;
}

.sidebarItem:hover
{
	background-color: lightblue;
	cursor: pointer;
}

.sidebarSep
{
	height: 10px;
}

#content
{
	text-align: center;
	overflow: auto;	

	margin-bottom: 15px;
    position: relative;
}

#calendar
{
	text-align: left;
	
	margin: 0px auto;
	
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;

	background-color: lightcyan;

	border-left: 1px #A7A7E4 solid;
	border-right: 1px #A7A7E4 solid;
	border-bottom: 1px #A7A7E4 solid;

	width: 708px;
}

#results
{
	display: none;
	text-align: left;
	
	margin: 0px auto;
	
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;

	background-color: lightcyan;

	border-left: 1px #A7A7E4 solid;
	border-right: 1px #A7A7E4 solid;
	border-bottom: 1px #A7A7E4 solid;

	font-size: large;

	width: 708px;
}

.result
{
	display: flex;

	padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;

    font-size: 14px;

	border-bottom: 1px lightcyan solid;

	transition: background-color 0.2s;
}

.result:hover
{
	cursor: pointer;
	background-color: #F3F2F2;
}

.resultPath
{
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;

    color: lightcyan;
    font-size: 12px;

    border-bottom: 1px lightcyan solid;
}

.resultSubPath
{
	transition: color 0.2s;
}

.resultSubPath:hover
{
	color: black;
}

.sectionTitle
{
	font-size: 24px;

    color: lightcyan;

    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;

    border-bottom: 1px lightcyan solid;
}

.resultSection
{
	background-color: lightblue;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.dayCell
{
	position: relative;
	display: inline-block;

	width: 100px;
	height: 100px;

	text-align: left;

	border-top: 1px solid;
    border-right: 1px solid;

    border-color: darkgrey;

	transition: background-color 0.2s;
}

.dayCell:hover
{
	background-color: lightblue;
	cursor: pointer;
}

.day
{
	width: 10px;
    height: 10px;
    top: 5px;
    left: 5px;
    position: relative;
}

.dummyDay
{
	position: relative;
	display: inline-block;

	width: 100px;
	height: 100px;

	background-color: lightgrey;
	text-align: left;

	border-top: 1px solid;
    border-right: 1px solid;

    border-color: darkgrey;
}

#days
{
	border-left: 1px solid;
    border-bottom: 1px solid;

    border-color: darkgrey;
}

#month
{
	text-align: center;
    font-size: 24px;

    height: 35px;
}

#prevMonth
{
	width: 50px;
	float: left;
}

#prevMonth:hover
{
	cursor: pointer;
}

#currMonth
{
	width: 608px;
	float: left;
}

#nextMonth
{
	width: 40px;
	float: right;
}

#year
{
	width: 100%;
	text-align: center;
    margin-bottom: 7px;
    font-size: 12px;
}

#nextMonth:hover
{
	cursor: pointer;
}

#dayName
{
    font-size: 0px;
    margin-bottom: 5px;
}

.dayName
{
	display: inline-block;
    text-align: center;
    width: 100px;
    font-size: 14px;
    margin-right: 1px;
}

.recipeName
{
	padding-right: 10px
}

.recipeInfo
{
    position: relative;
    font-size: 10px;
    color: gray;
    top: 3px;
}

#recipe
{
    position: fixed;

    display: flex;
    flex-wrap: wrap;

	width: 500px;

    padding: 35px 25px 12px 25px;
    
    background-color: antiquewhite;

    top: 50px;
    left: calc(100% / 2 - 250px);

    box-shadow: 0px 0px 14px 1px rgba(50, 50, 50, 0.75);
}

#recipeFooter > #btnOK, #recipeFooter > #btnCancel
{
	display: none;
}

#labels
{
	width: 20%;
}

#controls
{
	width: 70%;
    padding-left: 10px;
}

.label
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: bold;
    margin-bottom: 15px;
    height: 30px;
}

.control
{
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 15px;
    height: auto;
}

.labelTextArea
{
	align-items: flex-start;
    padding-top: 8px;
    height: 112px;
}

.control > input[type="checkbox"]
{
    height: 20px;
    margin-top: 7px;
}

.control > input[type="text"]
{
	width: 100%;
	height: 30px
}

textarea
{
	width: 100%;
    height: 120px;
    font-size: 13px;
    font-family: sans-serif;
    line-height: 20px;
}

input[type="text"], textarea
{
	padding: 7px;
    border: solid 1px #dcdcdc;

    transition: box-shadow 0.3s, border 0.3s;
}

input[type="text"]:focus, textarea:focus
{
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

.closeButton
{
    position: absolute;
    display: flex;

 	border-radius: 50%;
    background-color: black;

    color: white;

    width: 20px;
    height: 20px;
    right: -7px;
    top: -7px;    

    justify-content: center;
}

#recipeFooter
{
	display: flex;
	justify-content: flex-end;

	width: 93%;
}

button
{
	margin: 5px;
	width: 75px;
}

#tagContainer
{
    background-color: white;
    height: 120px;
    width: 100%;
    display: flex;
    padding: 7px;
}

.tagLabels
{
	width: 20%;
}

.tagLabel
{
    display: flex;
    padding-top: 1px;
    padding-bottom: 5px;
    height: 15px;
}

.tagControls
{
	width: 70%;
}

.tagControl
{
    display: flex;
    height: 16px;
    padding-bottom: 5px;
}

.tagControl > input[type="checkbox"]
{
    height: 10px;
    margin-top: 2px;
}

#tagArea
{
	display: flex;
    overflow: auto;
    width: 100%;
}