html
{
	overflow: auto;
}

body
{
	margin: 0px;
}

#header
{
	height: 70px;
	width: 100%;

	background-color: lightblue;
	border-bottom: 1px #A7A7E4 solid;
}

#title
{
	display: inline-block;

	margin-left: 15px;
	
	width: 200px;
}

#search
{
	display: inline-block;

	text-align: right;
	width: calc(100% - 230px);
}

#searchBox
{
	width: calc(100% - 100px);
    height: 30px;
    font-size: large;
}

#sidebar
{
	position: absolute;
	z-index: 1;

	background-color: lightcyan;

	margin-left: -160px;

	width: 160px;
	height: calc(100% - 71px);

	transition: margin 0.5s;
}

.sidebarItem
{
	height: 32px;

	padding-left: 20px;

	font-size: 16px;
	font-weight: bold;

	display: flex;
    align-items: center;

	transition: background-color 0.3s;
}

.sidebarItem:hover
{
	background-color: lightblue;
	cursor: pointer;
}

.sidebarSep
{
	height: 10px;
}

#content
{
	text-align: center;
	margin: 0px auto;
	overflow: auto;	
}

#calendar
{
	text-align: left;
	
	margin: 0px auto;
	margin-top: 5px;

	width: 708px;

	opacity: 100;
	transition: opacity 0.5s;
}

#results
{
	position: fixed;

	top: 80px;
	width: calc(100% - 55px);

	text-align: left;

	opacity: 0;
	pointer-events: none;

	transition: opacity 0.5s;

	font-size: large;
    
    margin-left: 20px;
    margin-right: 20px;
}

.result
{
	padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;

	width: 100%;

	transition: background-color 0.2s;
}

.result:hover
{
	cursor: pointer;
	background-color: #F3F2F2;
}

.dayCell
{
	position: relative;
	display: inline-block;

	width: 100px;
	height: 100px;

	text-align: left;

	border-top: 1px solid;
    border-right: 1px solid;

    border-color: darkgrey;

	transition: background-color 0.2s;
}

.dayCell:hover
{
	background-color: lightblue;
	cursor: pointer;
}

.day
{
	width: 10px;
    height: 10px;
    top: 5px;
    left: 5px;
    position: relative;
}

.dummyDay
{
	position: relative;
	display: inline-block;

	width: 100px;
	height: 100px;

	background-color: lightgrey;
	text-align: left;

	border-top: 1px solid;
    border-right: 1px solid;

    border-color: darkgrey;
}

#days
{
	border-left: 1px solid;
    border-bottom: 1px solid;

    border-color: darkgrey;
}

#month
{
	text-align: center;
    font-size: 24px;

    height: 35px;
}

#prevMonth
{
	width: 50px;
	float: left;
}

#prevMonth:hover
{
	cursor: pointer;
}

#currMonth
{
	width: 608px;
	float: left;
}

#nextMonth
{
	width: 40px;
	float: right;
}

#year
{
	width: 100%;
	text-align: center;
    margin-bottom: 7px;
    font-size: 12px;
}

#nextMonth:hover
{
	cursor: pointer;
}

#dayName
{
    font-size: 0px;
    margin-bottom: 5px;
}

.dayName
{
	display: inline-block;
    text-align: center;
    width: 100px;
    font-size: 14px;
    margin-right: 1px;
}