html
{
	overflow: auto;
}

#header
{
	height: 70px;
	width: 100%;
}

#title
{
	display: inline-block;

	margin-left: 15px;
	
	width: 200px;
}

#search
{
	display: inline-block;

	text-align: right;
	width: calc(100% - 230px);
}

#searchBox
{
	width: calc(100% - 100px);
    height: 30px;
    font-size: large;
}

#content
{
	text-align: center;
	margin: 0px auto;
}

#calendar
{
	text-align: left;
	margin: 0px auto;

	opacity: 100;
	transition: opacity 0.5s;
}

#results
{
	position: fixed;

	top: 80px;
	width: calc(100% - 55px);

	text-align: left;

	opacity: 0;
	transition: opacity 0.5s;

	font-size: large;
    
    margin-left: 20px;
    margin-right: 20px;
}

.result
{
	padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;

	width: 100%;

	transition: background-color 0.2s;
}

.result:hover
{
	cursor: pointer;
	background-color: #F3F2F2;
}

.day
{
	position: relative;
	display: inline-block;

	width: 100px;
	height: 100px;

	border: 1px solid;

	text-align: left;
}